.principal{
    display: flex;
    background-color: burlywood;
    border-radius: 10px;
}
.estrutura{
    background-color: white;
    border-radius: 10px;
}
.side{
    background-color: rgb(169, 126, 70);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
header{
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
