.principal{
    display: flex;
    background-color: rgb(91, 91, 91);
    border-radius: 10px;
}
.estrutura{
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
}
.side{
    background-color: rgb(28, 28, 28);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
header{
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
