template{
    margin: 0%;
}

.container{
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    background-color: white;
    margin:5px;
    padding: 2px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
}
.detail{
    color: black;
    font-weight: bold;
}
.fields{
    color: blue;
    font-weight: bold;
}
.else{
    color: white;
}

